<div class="hiden">
    <div class="join">
        <div class="joinbox">
            <div class="hidencut"></div>
            <button class="facestart">
                <img src="img/icon_modal_facebook.png">
                    페이스북으로 시작하기
            </button>
            <p>------------------- 또는 -------------------</p>
            <input class="loging" type="text" placeholder="이메일을 입력해주세요">
            <input class="loging" type="password" placeholder="비밀번호를 입력해주세요">
            <label>
                <input class="checkb" type="checkbox">
                <span>로그인 상태 유지</span>
            </label>
            <a href="#">비밀번호를 잊으셨나요?</a>
            <button class="joinbtn">로그인</button>
            <div class="joinfoot">
                <p>계정이 없으신가요?</p>
                <button class="emailjoin">이메일 회원가입</button>
            </div>
        </div>
        <div class="outbox">OUT</div>
        <script type="text/javascript">
            $('.outbox').click(function(){
                $('.hiden').slideUp();
            });
        </script>
    </div>
</div>