<header>
    <div class="head_box1">
        <a href="#"><img src="img/main_logo.png"></a>
        <div class="input_box">
            <input type="text" placeholder="react를 검색하세요">
            <button class="head_btn"><img src="img/head_btn.png"></button>
        </div>
    </div>
    <div class="head_box2">
        <button>로그인</button>
        <button>회원 등록</button>
    </div>
    <script type="text/javascript">
        $('.head_box2').children('button').click(function(){
            $('.hiden').slideDown("fast");
        });
    </script>
</header>
<div class="menu_bar">
    <ul>
        <li><a href="#">전체보기</a></li>
        <li><a href="#">라이프스타</a></li>
        <li><a href="#">영어/외국어</a></li>
        <li><a href="#">컴퓨터</a></li>
        <li><a href="#">디자인미술</a></li>
        <li><a href="#">국가고시</a></li>
        <li><a href="#">취업</a></li>
        <li><a href="#">음악/공연</a></li>
        <li><a href="#">스포츠</a></li>
        <li><a href="#">뷰티/미용</a></li>
        <li><a href="#">게임</a></li>
    </ul>
</div>